/* border-box fix */
html {
  box-sizing: border-box;
}

.uncial-antiqua-regular {
  font-family: "Uncial Antiqua", system-ui;
  font-weight: 400;
  font-style: normal;
}

.grenze-medium {
  font-family: "Grenze", serif;
  font-weight: 500;
  font-style: normal;
}

div.fireball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: orange;
  background-color: red;
  position: relative;
  animation-name: FireballAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.bolt {
  border: 4px solid rgba(0,0,0,0);
  border-bottom: 22px solid #ffdf00;
  transform: rotateZ(120deg);
  padding: 5px;
  width: 0;
  height: 0;
  margin: 50px;
  overflow: visible;
  border-top: 0 solid;
  border-radius: 0;
  transform-origin: 70% 50% 0;
  animation-name: ThundahAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.bolt:after {
  content: "";
  top: -9px;
  left: -8px;
  border: 5px solid rgba(0,0,0,0);
  border-bottom: 25px solid #ffdf00;
  transform: rotateZ(4deg);
  padding: 0;
  width: 0;
  height: 0;
  position: absolute;
  margin: 0;
  overflow: visible;
  border-top: 0 solid;
  border-radius: 0;
  transform-origin: 50% 50% 0;
}


.button:hover {
  background-color: #3e8e41
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ff0000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@keyframes FireballAnimation {
  0% {
    background-color: white;
    left: 0px;
    top: 0px;
    scale: 20%;
  }

  10% {
    background-color: yellow;
    scale: 40%;
    left: 100px;
    top: 0px;
  }

  20% {
    background-color: orange;
    left: 200px;
    top: 0px;
    scale: 60%;
  }

  30% {
    background-color: orangered;
    left: 300px;
    top: 0px;
    scale: 80%;
  }

  40% {
    background-color: red;
    left: 400px;
    top: 0px;
    scale: 100%;
  }

}

@keyframes ThundahAnimation {
  0% {
    left: 0px;
    top: 0px;
    scale: 10%;
  }

  100% {
    left: 100px;
    top: 0px;
    scale: 200%;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* remove margin and padding on body */
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center top;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-color: black;
  height: auto;
  width: auto;
}

/* Grouping example */
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-family: "Uncial Antiqua";
}

.wrapper {
  background: white;
  width: 90%;
  margin: 0 auto;
  display: grid;
  /* create 12 col layout */
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

/* padding on immediate children of wrapper */
.wrapper {
  background: white;
  width: 90%;
  margin: 0 auto;
  display: grid;
  /* create 12 col layout */
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.wrapper>* {
  padding: 20px;
  width: 100%;
  /* grid layout parent */
}

div.container {
  width: 80%;
  background-color: #876B3F;
  /* center the div container */
  margin: 40px auto;
  background-image: url("images/shootingstar.gif");
  background-size: contain;

}

header {
  background: #f3c589;
  /* span all 12 cols*/
  grid-column: 1 / 13;
}

main {
  background: #876B3F;
  /* span 6 cols */
  grid-column: 1 / 10;
  font-family: "Grenze", serif;
  font-weight: 500;
  font-style: normal;

}

nav {
    background: #db9859;
    order: 1;
    flex: 0 0 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
    word-spacing: 3em;
}

aside {
  background: #523F31;
  grid-column: 10 / 13;
}

aside img {
  width: 100%;
  height: auto;
  background-color: #000000;
  grid-row: 1 / 4;
  border-image: url(images/border.png) 30 round;
  position:relative
}

/* span 2 rows */
main,

aside {
  grid-row: 2 / 4;
}

footer {
  background: #3E2B18;
  grid-column: 1 / 13;
  
}